/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    /* background-color: #d6d0d0; */
    background-color: linear-gradient(to bottom,rgba(216, 13, 13, 0.849),rgba(236, 20, 20, 0.904));
 }

  
  header {
    text-align: center;
    background-color: #79ad77f5;
    color: white;
    padding : 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 10px 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ff9900;
  }
  
  section {
    padding: 40px;
    background-color: white;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  p {
    line-height: 1.6;
  }
  
  ul {
    margin-top: 10px;
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .project {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
  }
  .project h3 {
    font-size: 20px;
  }
  
  .project p {
    margin-top: 10px;
  }
  
  .project a {
    color: #ff9900;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .project a:hover {
    color: #d68200;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
  }
  